#kod{
	font-size:45px;
	color:white;
	text-indent:8%;

}
#unordered{
		font-size:35px;
		color:white;
		
}
#prize{
	color:yellow;
	float:left;
	font-size:45px;
		
}
#rules{
	color:yellow;
	float:left;
	font-size:35px;
		
}